@model HisabPro.DTO.Model.ZakatIncomeItem

<tr>
    <td>
        <div class="d-flex flex-column gap-1">
            <select asp-for="IncomeType" name="Items[0].IncomeType" class="form-select d-inline w-auto incomeType" asp-items="ViewBag.Categories"></select>
            <span asp-validation-for="IncomeType" data-valmsg-for="Items[0].IncomeType" class="text-danger"></span>
        </div>
    </td>
    <td>
        <div class="d-flex flex-column gap-1">
            <input type="number" asp-for="Amount" class="form-control incomeAmount" name="Items[0].Amount" value="" />
            <span asp-validation-for="Amount" data-valmsg-for="Items[0].Amount" class="text-danger"></span>
        </div>
    </td>
    <td>
        <div class="d-flex flex-column gap-1">
            <input asp-for="Description" class="form-control incomeDescription" name="Items[0].Description" />
            <span class="invalid-feedback">@ViewBag.errorMsgDescription</span>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-danger btn-sm deleteRowBtn"><i class="bi bi-trash"></i> Delete</button>
    </td>
</tr>
