@model HisabPro.Web.ViewModel.GridViewModel<object>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@* <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h1 class="h4 text-primary">Manage Users</h1>
    </div>
    <a asp-action="Save" class="btn btn-success">
        <i class="bi bi-plus-lg me-1"></i> Create New
    </a>
</div> *@

<div id="tblAccount" style="position:relative">
    @await Html.PartialAsync("~/Views/Shared/_GridView.cshtml", Model)
</div>

@section Scripts {
    <script>
        $('#tblAccount').gridview({
            controllerName: 'User',
            titleDelete: 'Delete User'
        });
    </script>
}