@using HisabPro.Constants.Resources;
@model HisabPro.Web.ViewModel.LoginModel
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card mb-1" style="position:relative">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-key me-2 fs-3"></i>
                        <h5 class="mb-0 p-2">@SharedResource.LabelLogin</h5>
                    </div>
                </div>
                <div class="grid-filter-body card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" asp-action="Login" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Input.Email" class="control-label"></label>
                                    <input id="txtEmail" asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.Password" class="control-label"></label>
                                    <input id="txtPassword" asp-for="Input.Password" class="form-control" type="password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <input id="chkRemember" asp-for="Input.RememberMe" class="form-check-input" />
                                        <label asp-for="Input.RememberMe" class="form-check-label"></label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center gap-2">
                                    <button type="button" class="btn btn-primary w-50" onclick="login()">
                                        @SharedResource.LabelLogin
                                    </button>
                                    <button type="button" class="btn btn-secondary w-50" onclick="register()">
                                        @SharedResource.LabelRegisterUser
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="form-view" class="loading" style="display:none">
                    Loading, please wait...
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    var formLoading = $('#form-view');
    function login() {
        formLoading.show();
        const loginData = {
            Email: $('#txtEmail').val(),
            Password: $('#txtPassword').val(),
            RememberMe: $('#chkRemember').prop('checked')
        };

        var data = { 'Data': loginData, 'Url': '/user/login' };
        ajax.post(data.Url, data.Data, loginSuccess, data, loginFailed);
    }
    function loginSuccess(res) {
        formLoading.hide();
        if (res.statusCode == 200) {
            window.location.href = '@Url.Action("Index", "Dashboard")';
        }
    }

    function loginFailed(res) {
        formLoading.hide();
        showNotification(res.responseJSON.message, 'danger');
    }

    function register() {
        window.location.href = '/user/register';
    }
</script>