@model HisabPro.DTO.Request.ResetPasswordReq
@{
    Layout = "~/Views/Shared/_EditLayout.cshtml";
    ViewData["Title"] = "Change Password";
    ViewData["SectionHeader"] = "Change Password";
    ViewData["CardTitle"] = "Change Password";
}

@section BodyContent {
    <form id="saveForm" method="post" asp-action="UpdatePassword">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <input type="hidden" asp-for="UserId" />

        <div class="mb-3">
            <label asp-for="CurrentPassword" class="form-label">Current Password</label>
            <input asp-for="CurrentPassword" class="form-control" type="password" placeholder="Enter current password" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label">New Password</label>
            <input asp-for="NewPassword" class="form-control" type="password" placeholder="Enter new password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm new password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button id="btnUpdatePassword" type="button" class="btn btn-primary">
                <i class="bi bi-lock-fill me-2"></i>Update Password
            </button>
        </div>
    </form>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var formLoading = $('#form-view');
            var urlUpdatePassword = '/User/UpdatePassword';

            $('#btnUpdatePassword').click(function () {

                var form = $('#saveForm');
                form.validate();
                if (form.valid()) {
                    formLoading.show();
                    ajax.submitForm(urlUpdatePassword, form, ChangeSuccess);
                }
            });

            function ChangeSuccess(res) {
                formLoading.hide();
                if (res.statusCode == 200) {
                    showNotification(res.message);
                }
            }
        });
    </script>
}