@inject HisabPro.Constants.ISharedViewLocalizer _localizer
@using HisabPro.Constants.Resources;
@model HisabPro.DTO.Request.ResetPasswordReq
@{
    Layout = "~/Views/Shared/_EditLayout.cshtml";
    ViewData["Title"] = _localizer.Get(ResourceKey.LabelChangePassword);
    ViewData["SectionHeader"] = _localizer.Get(ResourceKey.LabelChangePassword);
    ViewData["CardTitle"] = _localizer.Get(ResourceKey.LabelChangePassword);
}

@section BodyContent {
    @{
        var isForcePasswordChange = ViewData["IsForcePasswordChange"] as bool? ?? false;
        if (isForcePasswordChange)
        {
            <div class="text-center mb-4">
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <i class="bi bi-exclamation-circle-fill text-warning" style="font-size: 2rem;"></i>
                    <div style="padding-left:10px; text-align:left">
                        @_localizer.Get(ResourceKey.LabelPasswordResetRequired)
                    </div>
                </div>
            </div>
        }
    }
    <form id="saveForm" method="post" asp-action="UpdatePassword">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <input type="hidden" asp-for="UserId" />

        <div class="mb-3">
            <label asp-for="CurrentPassword" class="form-label"></label>
            <input asp-for="CurrentPassword" class="form-control" type="password" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" type="password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button id="btnUpdatePassword" type="button" class="btn btn-primary">
                <i class="bi bi-lock-fill me-2"></i>@_localizer.Get(ResourceKey.LabelUpdatePassword)
            </button>
        </div>
    </form>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var formLoading = $('#form-view');
            var urlUpdatePassword = '/User/UpdatePassword';

            $('#btnUpdatePassword').click(function () {

                var form = $('#saveForm');
                form.validate();
                if (form.valid()) {
                    formLoading.show();
                    ajax.submitForm(urlUpdatePassword, form, ChangeSuccess);
                }
            });

            function ChangeSuccess(res) {
                formLoading.hide();
                if (res.statusCode == 200) {
                    showNotification(res.message);
                }
            }
        });
    </script>
}