################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleMvcCoreApp/.vs/ProjectEvaluation/samplemvccoreapp.metadata.v7.bin
/SampleMvcCoreApp/.vs/ProjectEvaluation/samplemvccoreapp.projects.v7.bin
/SampleMvcCoreApp/.vs/SampleMvcCoreApp/DesignTimeBuild/.dtbcache.v2
/SampleMvcCoreApp/.vs/SampleMvcCoreApp/FileContentIndex
/SampleMvcCoreApp/.vs/SampleMvcCoreApp/v17
/SampleMvcCoreApp/bin/Debug/net8.0
/SampleMvcCoreApp/obj/Debug/net8.0
/SampleMvcCoreApp/obj/Release/net8.0
/.vs/MvcCoreApp/FileContentIndex
/.vs/MvcCoreApp/v17
/.vs/slnx.sqlite
/SampleMvcCoreApp/obj/project.nuget.cache
/.vs
/SampleMvcCoreApp/obj/project.assets.json
/SampleMvcCoreApp/obj/SampleMvcCoreApp.csproj.nuget.dgspec.json
/SampleMvcCoreApp/logs
/Hisab.CryptoService/bin/Debug
/Hisab.CryptoService/obj/Debug
/Hisab.Tools.PasswordService/bin/Debug
/Hisab.Tools.PasswordService/obj/Debug
/HisabPro.Tools.Execute/.vs
/HisabPro.Tools.Execute/bin/Debug
/HisabPro.Tools.Execute/obj/Debug
/HisabPro/.vs/HisabProApp/DesignTimeBuild
/HisabPro/.vs/HisabProApp/FileContentIndex
/HisabPro/.vs/HisabProApp/v17
/HisabPro/.vs/ProjectEvaluation
/HisabPro/.vs/SampleMvcCoreApp/DesignTimeBuild
/HisabPro/.vs/SampleMvcCoreApp/FileContentIndex
/HisabPro/bin/Debug/net8.0
/HisabPro/logs
/HisabPro/obj/Debug/net8.0
/HisabPro/obj/Release/net8.0
/HisabPro.CryptoService/bin/Debug
/HisabPro.CryptoService/obj/Debug
/HisabPro.Tools.PasswordService/bin/Debug
/HisabPro.Tools.PasswordService/obj/Debug
/HisabPro/obj/project.nuget.cache
/HisabPro.Constants/bin/Debug/net8.0
/HisabPro.Constants/obj
/HisabPro/obj/HisabPro.csproj.nuget.dgspec.json
/HisabPro/obj/project.assets.json
/HisabPro.Common/bin/Debug/net8.0
/HisabPro.Common/obj
/HisabPro.Entities/bin/Debug/net8.0
/HisabPro.Entities/obj
/HisabPro/.vs/HisabProApp/config/applicationhost.config
/HisabPro.Web/.vs/HisabProApp/DesignTimeBuild
/HisabPro.Web/.vs/HisabProApp/FileContentIndex
/HisabPro.Web/.vs/HisabProApp/v17
/HisabPro.Web/.vs/ProjectEvaluation
/HisabPro.Web/.vs/SampleMvcCoreApp/DesignTimeBuild
/HisabPro.Web/.vs/SampleMvcCoreApp/FileContentIndex
/HisabPro.Web/bin/Debug/net8.0
/HisabPro.Web/logs
/HisabPro.Web/obj
/HisabPro.DTO/bin/Debug/net8.0
/HisabPro.DTO/obj
/HisabPro.Repository/bin/Debug/net8.0
/HisabPro.Repository/obj
/HisabPro.Service/bin/Debug/net8.0
/HisabPro.Service/obj
/HisabPro.Services/bin/Debug/net8.0
/HisabPro.Services/obj
/HisabPro.Web/wwwroot/uploads/*.*
