################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleMvcCoreApp/.vs/ProjectEvaluation/samplemvccoreapp.metadata.v7.bin
/SampleMvcCoreApp/.vs/ProjectEvaluation/samplemvccoreapp.projects.v7.bin
/SampleMvcCoreApp/.vs/SampleMvcCoreApp/DesignTimeBuild/.dtbcache.v2
/SampleMvcCoreApp/.vs/SampleMvcCoreApp/FileContentIndex
/SampleMvcCoreApp/.vs/SampleMvcCoreApp/v17
/SampleMvcCoreApp/bin/Debug/net8.0
/SampleMvcCoreApp/obj/Debug/net8.0
