@using HisabPro.Constants.Resources;
@model HisabPro.Web.ViewModel.GridViewModel<object>
@{
    ViewData["Title"] = SharedResource.LabelExpense;
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div id="tblExpense" style="position:relative">
    @await Html.PartialAsync("~/Views/Shared/_GridView.cshtml", Model)
</div>

@section Scripts {
    <script>
        $('#tblExpense').gridview({
            controllerName: 'Expenses',
            titleDelete: '@SharedResource.LabelDeleteExpense'
        });
    </script>
}
