@model HisabPro.Web.ViewModel.GridViewModel<object>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Save">Create New</a>
</p>

<div id="tblAccount" style="position:relative">
    @await Html.PartialAsync("_GridView", Model)
</div>

@section Scripts {
    <script>
        $('#tblAccount').gridview({
            controllerName: 'Accounts',
            titleDelete: 'Delete Accout'
        });
    </script>
}