@model HisabPro.DTO.Request.SaveAccount

@{
    ViewData["Title"] = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Save Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="saveForm" asp-action="Save">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" checked="checked" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a> | <a asp-action="Save">Create New</a>
</div>
@section Scripts {
    <script>
        var urlSave = '/Accounts/Save';
        $("#saveForm").submit(function (event) {
            event.preventDefault();
            var form = $('#saveForm');
            form.validate();
            if (form.valid()) {
                ajax.submitForm(urlSave, form, SaveSuccess);
            }
        });

        function SaveSuccess(res) {
            if (res.statusCode == 200) {
                showNotification(res.message);
            }
        }
    </script>
}
