<!-- Step 1 -->
<div class="wizard-step" data-step="1">
    <h4 class="mb-3">Upload File</h4>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="dataFile">Choose file</label>
            <input type="file" class="form-control-file" id="dataFile" name="file" accept=".xls,.xlsx"  required>
        </div>
        <button type="button" class="btn btn-primary next">Next</button>
    </form>
</div>