@using HisabPro.Constants.Resources;
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">@SharedResource.LabelConfirmTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="confirmModalText" class="modal-body">
                @SharedResource.LabelConfirmMessage
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@SharedResource.LabelCancel</button>
                <button type="button" class="btn btn-primary" id="confirmButton">@SharedResource.LabelConfirm</button>
            </div>
        </div>
    </div>
</div>