@using HisabPro.Constants.Resources;
@{
    ViewData["Title"] = @SharedResource.LabelAccessDenied;
}

<h1 class="text-danger">@SharedResource.LabelAccessDenied</h1>
<p class="text-danger">@SharedResource.LabelAccessDeniedMessage</p>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">@SharedResource.LabelGoToHome</a>
</p>