@inject HisabPro.Constants.ISharedViewLocalizer _localizer
@using HisabPro.Constants.Resources;
@{
    ViewData["Title"] = _localizer.Get(ResourceKey.LabelAccessDenied);
}

<h1 class="text-danger">@_localizer.Get(ResourceKey.LabelAccessDenied)</h1>
<p class="text-danger">@_localizer.Get(ResourceKey.LabelAccessDeniedMessage)</p>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">@_localizer.Get(ResourceKey.LabelGoToHome)</a>
</p>