@using HisabPro.Constants.Resources;
@model ErrorDTO
@{
    ViewData["Title"] = SharedResource.LabelUnauthorized;
}

<h1 class="text-danger">@SharedResource.LabelUnauthorized</h1>
<p class="text-danger">@SharedResource.LabelUnauthorizedMessage</p>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">@SharedResource.LabelGoToHome</a>
</p>