@inject HisabPro.Constants.ISharedViewLocalizer _localizer
@using HisabPro.Constants.Resources;
@model ErrorDTO
@{
    ViewData["Title"] = _localizer.Get(ResourceKey.LabelUnauthorized);
}

<h1 class="text-danger">@_localizer.Get(ResourceKey.LabelUnauthorized)</h1>
<p class="text-danger">@_localizer.Get(ResourceKey.LabelUnauthorizedMessage)</p>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">@_localizer.Get(ResourceKey.LabelGoToHome)</a>
</p>