@model ErrorDTO

@{
    ViewData["Title"] = "Unauthorized";
}

<h1 class="text-danger">Unauthorized</h1>
<p class="text-danger">You are not authorized to view this page.</p>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Go back to the home page</a>
</p>