@model HisabPro.DTO.Request.SaveUser

@{
    Layout = "~/Views/Shared/_EditLayout.cshtml";
    ViewData["Title"] = "Save User";
    ViewData["SectionHeader"] = "Save User";
    ViewData["CardTitle"] = "Save User";
}

@section BodyInfo {
    <p class="text-muted mb-0"></p>
}

@section BodyContent {
    <form id="saveForm" asp-action="Save">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="UserRole" class="control-label"></label>
                        <select asp-for="UserRole" class="form-control" asp-items="ViewBag.UserRole"></select>
                        <span asp-validation-for="UserRole" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group m-t-10">
            <button class="btn btn-primary action-btn">
                <i class="fas fa-save"></i> Save
            </button>
            <button type="button" id="btnCreateNew" class="btn btn-secondary action-btn">
                <i class="fas fa-plus"></i> Create New
            </button>
        </div>
    </form>
}

@section Scripts {
    <script>
        var urlSave = '/Users/Save';
        var form = $('#saveForm');
        var createNew = $('#btnCreateNew');

        createNew.click(function () {
            window.location.href = urlSave;
        });
        form.submit(function (event) {
            event.preventDefault();
            form.validate();
            if (form.valid()) {
                ajax.submitForm(urlSave, form, SaveSuccess);
            }
        });

        function SaveSuccess(res) {
            if (res.statusCode == 200) {
                showNotification(res.message);
            }
        }
    </script>
}
