html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

dl, ol, ul {
    text-align: left;
}

a {
    text-decoration: none;
}

    a:hover, a:hover .fas {
        color: red;
    }

.float-right {
    float: right;
}

.mt-20 {
    margin-top: 20px;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

.alert.fade {
    transition: opacity 1s ease-out; /* Change 1s to your desired duration */
}

.alert-dismissible {
    padding-right: 1rem;
}


/* Validation Error */
.form-control .error, label.error {
    color: red;
    font-size: 0.875em; /* Optional: adjust font size */
}

.input-validation-error, .error {
    border-color: red; /* Optional: add red border to invalid input */
}

/* Highlight table row */
.highlight-green td, .highlight-blue td, .highlight-yellow td, .highlight-red td, .highlight-reset td {
    transition: background-color 0.5s ease !important; /* Smooth transition effect */
}
.highlight-green td {
    background-color: #D0F2C8 !important; /* Temporary color */
}
.highlight-blue td {
    background-color: #D2ECFF !important; /* Temporary color */
}
.highlight-yellow td {
    background-color: #FFDED2 !important; /* Temporary color */
}
.highlight-red td {
    background-color: #FECCD8 !important; /* Temporary color */
}
.highlight-reset td {
    background-color: white !important; /* Original background color, adjust as needed */
}
.m-t-30 {
    margin-top:30px;
}
.m-t-10 {
    margin-top:10px;
}