@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>We sould like to here from you! If you have any comment, feedback or sugession please contact on <a href="tel:+919909544184">+91 99095 44184</a> or write us at <a href="mailto:imdadhusen.sunasara@gmail.com">imdadhusen.sunasara@gmail.com</a></p>
