@using HisabPro.Constants.Resources;
@{
    Layout = "~/Views/Private/Import/_WizardLayout.cshtml";
    ViewData["Title"] = SharedResource.LabelImportIncomes;
    ViewData["SectionHeader"] = SharedResource.LabelImportIncomesWizard;
    ViewData["CardTitle"] = SharedResource.LabelIncome;
}

@section BodyInfo {
    <p class="text-muted mb-0">
        <i class="bi bi-exclamation-circle-fill text-warning me-2"></i>
        @SharedResource.LabelImportIncomesMessage <a asp-controller="Import" asp-action="Expense">@SharedResource.LabelHere</a>.
    </p>
}