@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>We are here to explain you About Us. You should know us well and contribute your time, money or whatever you can to make this journey happy!</p>
