@using HisabPro.Constants.Resources;
@model HisabPro.Web.ViewModel.GridViewModel<object>
@{
    ViewData["Title"] = SharedResource.LabelIncome;
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div id="tblIncomes" style="position:relative">
    @await Html.PartialAsync("~/Views/Shared/_GridView.cshtml", Model)
</div>

@section Scripts {
    <script>
        $('#tblIncomes').gridview({
            controllerName: 'Incomes',
            titleDelete: '@SharedResource.LabelDeleteIncome'
        });
    </script>
}