@model HisabPro.DTO.Request.SaveExpense

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="saveForm" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ExpenseOn" class="control-label"></label>
                        <input asp-for="ExpenseOn" class="form-control" />
                        <span asp-validation-for="ExpenseOn" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AccountId" class="control-label"></label>
                        <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                        <span asp-validation-for="AccountId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ParentCategoryId" class="control-label"></label>
                        <select asp-for="ParentCategoryId" class="form-control" asp-items="ViewBag.ParentCategoryId" onchange="filterChildCategories(this)"></select>
                        <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                    </div>
                </div>
                @* TODO: Child category should be display according to Parent *@
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ChildCategoryId" class="control-label"></label>
                        <select asp-for="ChildCategoryId" class="form-control" id="ChildCategoryId"></select>
                        <span asp-validation-for="ChildCategoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Note" class="control-label"></label>
                        <input asp-for="Note" class="form-control" />
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-check m-t-30">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group m-t-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a> | <a asp-action="Save">Create New</a>
</div>

@section Scripts {
    <script>
        // Parse the JSON data for child categories
        const allChildCategories = @Html.Raw(ViewData["ChildCategories"]);

        var parentCategory = '#ParentCategoryId';
        var childCategory = '#ChildCategoryId';
        var urlSave = '/Expenses/Save';
        var form = $('#saveForm');

        form.submit(function (event) {
            event.preventDefault();
            form.validate();
            if (form.valid()) {
                ajax.submitForm(urlSave, form, SaveSuccess);
            }
        });

        function SaveSuccess(res) {
            if (res.statusCode == 200) {
                showNotification(res.message);
            }
        }

        //This will set the sub categories in edit mode
        var selectedChildCategoryId = '@ViewBag.SelectedChildCategoryId';
        filterChildCategories();
        

        function filterChildCategories() {
            const selectedParentId = $(parentCategory).val();
            const drpChildCategory = $(childCategory);
            if (selectedParentId > 0) {
                drpChildCategory.attr("required", "required");
            } else {
                drpChildCategory.removeAttr("required");
            }

            drpChildCategory.empty();
            $(allChildCategories).each(function (index, category) {
                if (category.ParentCategoryId == selectedParentId) {
                    drpChildCategory.append($('<option>', { value: category.Id, text: category.Name }));
                }
            });

            //In edit child category should be selected
            if (selectedChildCategoryId > 0) {
                drpChildCategory.val(selectedChildCategoryId);
            }
        }
    </script>
}
