@inject HisabPro.Constants.ISharedViewLocalizer _localizer
@using HisabPro.Constants.Resources;
@model HisabPro.DTO.Model.GridViewModel<object>
@{
    ViewData["Title"] = @_localizer.Get(ResourceKey.FieldAccount);
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div id="tblAccount" style="position:relative">
    @await Html.PartialAsync("~/Views/Shared/_GridView.cshtml", Model)
</div>

@section Scripts {
    <script>
        $('#tblAccount').gridview({
            controllerName: 'Accounts',
            titleDelete: '@_localizer.Get(ResourceKey.LabelDeleteAccount)'
        });
    </script>
}