@using HisabPro.Constants.Resources;
@model HisabPro.DTO.Request.SaveAccountReq
@{
    Layout = "~/Views/Shared/_EditLayout.cshtml";
    ViewData["Title"] = SharedResource.LabelSaveAccount;
    ViewData["SectionHeader"] = SharedResource.LabelSaveAccount;
    ViewData["CardTitle"] = SharedResource.LabelSaveAccount;
}

@section BodyContent {
    <form id="saveForm" asp-action="Save">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-check m-t-30">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group m-t-10">
            <button class="btn btn-primary action-btn">
                <i class="fas fa-save"></i> @SharedResource.LabelSave
            </button>
            <button type="button" id="btnCreateNew" class="btn btn-secondary action-btn">
                <i class="fas fa-plus"></i> @SharedResource.LabelCreateNew
            </button>
        </div>
    </form>
}

@section Scripts {
    <script>
        var formLoading = $('#form-view');
        var urlSave = '/Accounts/Save';
        var form = $('#saveForm');
        var createNew = $('#btnCreateNew');

        createNew.click(function () {
            window.location.href = urlSave;
        });
        form.submit(function (event) {
            event.preventDefault();
            form.validate();
            if (form.valid()) {
                formLoading.show();
                ajax.submitForm(urlSave, form, SaveSuccess);
            }
        });

        function SaveSuccess(res) {
            formLoading.hide();
            if (res.statusCode == 200) {
                showNotification(res.message);
            }
        }
    </script>
}
